* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Zilla Slab';
}

.page-content {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.page-content h1 {
    width: fit-content;
    font-size: 40px;
    border-bottom: 4px solid #20BFB1;
}

.page-content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    text-align: justify;
}

.page-content-text {
    box-sizing: border-box;
    padding: 30px 15px;
}